/* -- header elements */

body{
  background-color: #FFE6EE;
}

.page-header {
  padding: 50px;
}

.navbar {
background-color: #ffc107;
padding-top: 20px;
padding-bottom: 20px;
}

.navbar-brand {
margin-left: 3vw;
font-size: 40px;
font-family:'Saira Stencil One', cursive;
color:#383d41 !important;
}

.navbar-toggler {
margin-right: 3vw;
}

/*-- main elements */

.btn-warning {
  color: #212529;
  background-color: #007BFF80;
}

.pokemon-list {
margin-top: 60px;
margin-left: 50px;
margin-right: 50px;
}


li.group-list-item {
margin-bottom: 15px;
}

.btn,
.name-element,
.types-element {
text-transform: capitalize;
}


.group-list-item{
display: flex;
justify-content: center;
}

/*--modal elements*/

.modal-content {
margin-top: 5vh;
background-color: #FFE6EE;
font-weight: bold;
}

.modal-title{
color: #383d41;
}

.modal-header {
border: none;
background-color: #007BFF80;
}

.modal-body {
display: flex;
flex-direction: column;
border-left: 6px solid #303030;
border-right: 6px solid #303030;
}

.modal-footer{
	border-left: 6px solid #303030;
	border-right: 6px solid #303030;
	border-bottom: 6px solid #303030;
	border-top: none;
}

.btn-close {
color: #383d41;
font-weight: bold;
}


/*-- Go to top button*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 25px;
  scroll-behavior: smooth;
  background-color: #00BCD4;
  border: none;
  border-radius: 20%;
}
